table {
        border-collapse: collapse;
        /* width: 100%; */
        margin-top: 10px;
    }
    th, td {
        border: 1px solid #333;
        padding: 8px;
        text-align: left;
    }
    #userDetails {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #333;
    }
    #getUsersBtn{
         width: 300px;
         padding: 5px;
         font-weight: bold;
         border-radius: 10px;
        background-color: cadetblue;
        
    }
    h1{
        text-align: center;
        text-decoration: underline;
        color: blueviolet;
    }