#start{
    height: 400px;
    width: 100%;
    background-image: url(./photo_2026-01-11_18-52-03.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#flex{
 height: 30px;
 width: 70%;
 position: relative;
 top: 30px;
 left: 110px;
 margin: 25px 50px 75px ;
 background-color: #89986D;
 
}
#logo{
    display: inline-block;
    float: left;
    padding-top: 7px;
    color: antiquewhite;
    font-size: 18px;
    font-style:inherit;
}

.content{
    display: inline-block;
    float: right;
    margin: 1px 5px;
    padding: 20;
    padding-top: 7px;
    position:relative ;
    color: antiquewhite;
    font-size: 13px;
    text-decoration: none;
}
#p{
    position: relative;
    left: 500px;
    top: 150px;
    margin: auto;
}
.center{
    
   margin: auto;
    color: white;
   top: 30px;
    margin: auto; 
    
}
.clear{
    clear:both;
}
#p{
#div1{
    width:260px ;
    height: 3px;
    margin: auto;
    float: left;
    background-color:#89986D ;
}
#div2{
     width:160px ;
    height: 20px;
    margin: auto;
    float: left;
    padding-bottom: 20px;
    background-color:#89986D ;
    p{
        text-align: center;
        font-size: 12px;
        padding-bottom: 30px;
    }
}
}

#p1{
    margin: 50px 530px 5px;
    font-size: 22;
    font-weight:bold;
}
#p2{
    margin: 6px 490px 8px;
    font-size: xx-small;
    
}

.colors{
    width: 210px;
    height: 150px;
    float: left;
    margin: 0 10px;
    padding: 20;
    position:relative ;
    left: 200px;
   
    
}
#d1{
    background-color: #F6F0D7;
}
#d2{
    background-color: #C5D89D;
}
#d3{
    background-color: #9CAB84;
}
#d4{
    background-color: #89986D;
}
.clear{
    clear:both;
}
#div3{
    width: 100%;
    margin:20px auto;
    text-align: center;
}
#div4{
    width: 840px;
    margin: 20px auto;
    text-align: center;
}
#div4 p{
    margin: 5px 0;
    font-weight: bold;
}
.images img{
  width: 210px;
    height: 150px;
    float: left;
    margin:  10px;
    padding: 20;
    position:relative ;
    left: 200px;
    
    
}
#p3{
    margin: 50px 570px 5px;
    font-size: 30;
    font-weight:bold;
}
#p4{
    margin: 6px 555px 8px;
    font-size:xx-small;
}