body {
    font-family: Arial;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;   
    margin: 20px 0;
}

.traffic {
    width: 120px;
    margin: 30px auto;
}

.light-box {
    margin-bottom: 15px;
}


.light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ccc;   
    margin: auto;
}


.red.active {
    background: red;
}

.yellow.active {
    background: yellow;
}

.green.active {
    background: green;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
